#root {
  display: flex;           /* This makes #root a flex container */
  justify-content: center; /* Centers the child horizontally */
  align-items: center;     /* Centers the child vertically */
  height: 100vh;           /* Makes sure the parent takes full height of the viewport */
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
